{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "airbnb-base",
  "plugins": [
    "mocha"
  ],
  "rules": {
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "indent": [
      "error",
      4
    ],
    "keyword-spacing": [
      "error",
      {
        "after": true,
        "before": true,
        "overrides": {
          "for": {
            "after": false
          },
          "if": {
            "after": false
          },
          "while": {
            "after": false
          }
        }
      }
    ],
    "max-len": [
      "warn",
      {
        code: 120,
        ignoreUrls: true,
        ignoreComments: false,
        ignoreRegExpLiterals: true,
        ignoreStrings: true,
        ignoreTemplateLiterals: true,
        tabWidth: 4
      }
    ],
    "no-console": 0,
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "object-curly-spacing": [
      "error",
      "never"
    ],
    "padded-blocks": [
      "error",
      {
        "blocks": "always",
        "classes": "always",
        "switches": "never"
      }
    ],
    "quote-props": [
      "error",
      "as-needed",
      {
        "keywords": true,
        "unnecessary": false
      }
    ]
  },
  "globals": {
    "after": false,
    "afterEach": false,
    "before": false,
    "beforeEach": false,
    "describe": false,
    "ddescribe": false,
    "it": false,
    "iit": false,
    "xit": false
  }
}
