.DS_Store
.grunt
.idea
.lock-wscript
.npm
.npm-debug.log*
.project
.sass-cache
.settings
.stage
.sublime-workspace
.tmp
*.log
*.pid
*.properties
*.seed
atlassian-ide-plugin.xml
bower_components
build
config/runtime.yaml
coverage
dist
doc/esdoc/
lib-cov
logs
node_modules
npm-debug.log
pids
reports