{
  "extends": "@istanbuljs/nyc-config-babel",
  "all": true,
  "check-coverage": true,
  "exclude": [
    "lib/**/*.spec.js"
  ],
  "include": [
    "lib/**/*.js"
  ],
  "instrument": true,
  "reporter": [
    "html",
    "json",
    "text"
  ],
  "watermarks": {
    "branches": [60, 99],
    "functions": [60, 99],
    "lines": [60, 99],
    "statements": [60, 99]
  },
  "branches": 60,
  "functions": 60,
  "lines": 60,
  "statements": 60
}
